<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <h1>This is a Header</h1>
        <p>This is a paragraph</p>
        <p>This is a second paragraph</p>
    </body>
</html>
<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <h1>Initializing the folder as a Git repository</h1>

        <p>git init</p>

        <h1>Adding files to the staging area</h1>

        <p>git add .</p>

        <h1>Commiting to the Git repository</h1>

        <p>git commit -m "first commit"</p>


        <h1> Checking your Git repository status</h1>
        <p>git status</p>

        <h1>Checking the log of Git commits </h1>
        <p>git log --oneline</p>

        <h1> </h1>
        <p></p>

        <h1> </h1>
        <p></p>

        <h1> </h1>
        <p></p>

        <h1> </h1>
        <p></p>



        Checking the log of Git commits

    </body>
</html>